.env
.env.local
.env.*.local

data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

vendor/
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db

uploads/*
!uploads/.gitkeep
!uploads/.htaccess
!uploads/.webdav-exclude
!uploads/comex/
uploads/comex/*
!uploads/comex/.gitkeep
!uploads/comex/.htaccess

downloads/*
!downloads/.gitkeep
!downloads/.htaccess
